header{
    background-color: green;
    padding:2px;
    margin:0px;
    border-radius :8px;
    

}

li{
    display:inline;
    font-size:22px;
    color:red;

}

a{
    padding:30px;
    margin:0px;
}
ul{
    background-color: rgb(0, 0, 0);
    position:sticky;
    
   
}
li a:hover{
    background-color: white;
    padding:7px;
    border:1px solid green;
    border-radius:50%;
}
.login{
    margin-right:0px;
}
div.forms{
    border:1px solid black;
    padding:5px;
    border-radius:5px;
    width:350px;
    height: 300px;
    background-image: url("dashboard.jpg");
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:10%;
    color:white;
}
input[type=text]{
    border-radius:10px;
    border-color: black;
    padding: 8px;
    margin:5px;
    
}
input[type=text]:hover{
    background-color: beige;
}

.submit{
    color:blueviolet;
    text-align: center;
    
    font-size: 15px;
    
}
.submit:hover{
    color:red;

}

body{
    background-image: linear-gradient(black,blue,purple);
    
}
div.imgs{
    background-color:white;
    object-fit:cover;
    height:300px;
    border-radius: 25%;



}
img{
    height:250px;
    border-radius: 25%;

}
div.container{
    display:flex;
    justify-content: space-between;
    text-align:center;
    
}
ul div.whead{
    display:flex;
    justify-content: space-between;
}
ul div.search{
    justify-content: center;
    padding:20px;

}
table, th,tr,td{
    border:1px solid rgb(32, 6, 107);
    background-color:white;
    padding:2px;
    margin:2px;
    border-color: rgb(9, 45, 45);
    border-radius: 5%;
}
th{
    color:brown;


}
div.scrol{
    background-color:red;
    overflow:scroll;
    width:300px;
    height:100px;
    border:1px solid green;
}
div.tabnover{
    display:flex;
    justify-content:space-between;
}
div#rword{
    width: 100px;
    height: 27px;
    padding:5px;
    background-color: purple;
    position: relative;
    animation-name: welcome;
    animation-duration: 2s;
    animation-delay: 1s;
    border-radius:30px;
    justify-content: center;
    transform: rotate(0deg);
    font-weight:bold;  
    border:2px solid black;
    transform:rotate(0deg) ;
    transform-box:border-box;
    transform-style: flat;


  }
  
@keyframes welcome {
    0%   {background-color:purple; left:0px; top:0px;}

    50%  {background-color:purple; left:600px; top:0px;}
    100%  {background-color:purple; left:0px; top:0px;}


  }